---
import BlogCard from "../../../components/BlogCard.astro";
import { getSortedPosts, getPaginatedPosts } from "../../../utils/posts";


const currentPage = Number(Astro.params.page) || 1;

export async function getStaticPaths() {
  const posts = getSortedPosts();
  const POSTS_PER_PAGE = 2;
  const totalPages = Math.ceil(posts.length / POSTS_PER_PAGE);
  const paths = Array.from({ length: totalPages }).map((_, i) => ({
    params: { page: (i + 1).toString() },
  }));

  return paths;
}

const posts = getSortedPosts();
const POSTS_PER_PAGE = 2;
const { paginatedPosts } = getPaginatedPosts(posts, currentPage, POSTS_PER_PAGE);
---
<div id="blog-container" class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {paginatedPosts.map((post: { title: string; description: string; date: string; url: string; tags: string[]; image: string }) => (
    <BlogCard
      title={post.title}
      description={post.description}
      date={post.date}
      link={post.url}
      tags={post.tags}
      image={post.image}
    />
  ))}
</div>