---
const pageTitle = "Sobre mí";
const homeTitle = "Índice";
const blogTitle = "Blog";
const identity = {
  firstName: "Amador",
  Province: "Islas Canarias",
  country: "España",
  occupation: "Software Ingenier",
  hobbies: ["photography", "live", "develop", "sports"],
};

const skills = ["C#", "Sql Server", "TDD", "Clean Code", "fellowship"];
---
<html lang="es">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">{homeTitle}</a>
    <a href="/about/">{pageTitle}</a>
    <a href="/blog/">{blogTitle}</a>
    <ul>
        <li>Mi nombre es {identity.firstName}.</li>
        <li>Vivo en las {identity.Province} - {identity.country} y trabajo como {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && 
          <li>Algunos de mis hobbies son: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        } 
      </ul>
      <p>Algunas de mis Skills:</p>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
</body>
</html>